@media screen and (max-width: 992px) {
  .header {
    background-color: $ruby;
    position: relative;
    &-breadcrumbs {
      position: absolute;
      bottom: -55%;
      right: 0;
      left: 0;
      background-color: $white;
      padding: 12px 6px;
      @include flex-elems(flex, center, center);
      box-shadow: 0 0.005rem 0.2rem 0.05rem $shadow;
    }
    &-menu {
      &-icon {
        fill: $white;
      }
      &__visible {
        right: 0;
        width: 40vw;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    &-menu {
      &__visible {
        width: 55vw;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .header {
    &-menu {
      &__visible {
        width: 60vw;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    &-menu {
      &__visible {
        width: 75vw;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .header {
    &-menu {
      &__visible {
        width: 85vw;
      }
    }
  }
}